/* global style start here */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.primary-btn {
    padding: 15px 30px;
    color: white;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    cursor: pointer;
    font-size: 20px;
}

/* global style end here */

/* header style start here */
header {
    width: 100%;
    height: 80vh;
    background: rgba(229, 84, 115, 0.10);
}

/* navbar style */
header .nav-section {
    width: 100%;
    height: 100px;
    display: flex;
    background: hsl(300, 63%, 92%);
    align-items: center;
    justify-content: space-between;
}

header .nav-section .logo {
    width: 250px;
    height: 200px;
    cursor: pointer;
    padding: 60px 50px;
}

header .nav-section,
ul {
    display: flex;
    margin-right: 90px;
}

header .nav-section,
ul li {
    list-style: none;
}

header .nav-section,
ul li a {
    text-decoration: none;
    padding: 0px 30px;
    font-size: 22px;
    color: black;
}

/* banner style */
.banner-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-section .banner-left {
    width: 700px;
}

.banner-section .banner-left .banner-heading {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
}

.banner-section .banner-left .banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0px;
}

.banner-right .banner-profile {
    margin-top: 74px;
    height: 600px;
    width: 400px;
}

/* header style end here */

/* main style start here */
main {
    width: 100%;
}

/* about style */
.about-heading {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 50px 0px;
}

.about-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px 50px 70px;
}

.about-section .about-left {
    width: 700px;
}

.about-section .about-left .about-sub-heading {
    color: #272727;
    font-size: 35px;
    font-weight: 800;
}

.about-section .about-left .about-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0px;
}

.about-right .about-profile {
    width: 600px;
}

/* main style end here */