/* global section style start here */
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bacasime Antique', serif;
    font-family: 'Merriweather', serif;
}

body {
    overflow-x: hidden;
}

.primary-btn {
    padding: 15px 30px;
    color: white;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    cursor: pointer;
    font-size: 20px;
}

/* global section style end here */

/* header section style start here */
header {
    width: 100%;
    background: rgba(229, 84, 115, 0.10);
}

/* navbar  section style */
header .nav-section {
    width: 100%;
    height: 100px;
    display: flex;
    background: hsl(300, 63%, 92%);
    align-items: center;
    justify-content: space-between;
}

header .nav-section .logo {
    width: 250px;
    height: 200px;
    cursor: pointer;
    padding: 60px 50px;
}

header .nav-section,
ul {
    display: flex;
    margin-right: 90px;
}

header .nav-section,
ul li {
    list-style: none;
}

header .nav-section,
ul li a {
    text-decoration: none;
    padding: 0px 30px;
    font-size: 22px;
    color: black;
}

/* banner section style */
.banner-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-section .banner-left {
    width: 700px;
}

.banner-section .banner-left .banner-heading {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
}

.banner-section .banner-left .banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0px;
}

.banner-right .banner-profile {
    margin-top: 74px;
    height: 550px;
    width: 400px;
}

/* header section style end here */

/* main section style start here */
main {
    width: 100%;
}

/* about section style */
.about-heading {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 50px 0px;
}

.about-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px 50px 70px;
}

.about-section .about-left {
    width: 700px;
}

.about-section .about-left .about-sub-heading {
    color: #272727;
    font-size: 35px;
    font-weight: 800;
}

.about-section .about-left .about-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0px;
}

.about-right .about-profile {
    width: 600px;
}

/* featured section style */
.featured-heading {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 100px;
    padding: 20px;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.featured-section {
    display: flex;
    justify-content: center;
    grid-column-gap: 100px;
    padding: 100px 50px;
}

.featured-section .feature-item {
    text-align: center;
}

.featured-section .feature-item .featured-profile {
    width: 350px;
    height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.featured-section .feature-item .f-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.featured-section .feature-item .f-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.featured-section .feature-item .f-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.featured-section .feature-item .featured-text {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    padding-top: 30px;
    text-decoration: underline;
}

.feature-bottom {
    width: 1300px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-gap: 100px;
}

.feature-bottom .featured-bottom-item {
    text-align: center;
}

.feature-bottom .featured-bottom-item .features-icon {
    padding: 20px 50px;
}

.feature-bottom .featured-bottom-item .featured-bottom-text {
    color: rgba(39, 39, 39, 0.80);
    font-size: 20px;
    font-weight: 600;
}

/* deal section style */
.deal-section {
    width: 100%;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin: 100px 0px;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.deal-section .del-left {
    width: 590px;
    text-align: center;
}

.deal-section .del-left .del-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.deal-section .del-left .deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0px;
}

.deal-section .del-left .del-heading span {
    color: #E55473;
}

/* instagram section style */
.insta-heading {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.insta-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0px;
}

.insta-section {
    text-align: center;
}

.insta-section .insta-profile {
    width: 305px;
    margin: 100px 10px;
}

.insta-bottom {
    width: 1300px;
    height: 449px;
    background-image: url('../images/Rectangle 9.png');
    margin: 0 auto;
    position: relative;
}

.insta-bottom .insta-bottom-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.insta-bottom .insta-bottom-info .insta-bottom-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.insta-bottom .insta-bottom-info .insta-bottom-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 30px 0px;
}

.insta-bottom form {
    display: flex;
}

.insta-bottom .insta-bottom-info input[type="text"] {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    outline: 0;
    padding: 0px 20px;
}

.insta-bottom .insta-bottom-info input[type="submit"] {
    margin-left: 10px;
}

/* main section style end here */

/* footer section style start here  */
footer {
    width: 100%;
    height: 449px;
    background: #111010;
    margin-top: 100px;
    color: white;
    position: relative;
    border-bottom: 2px solid #E55473;
}

.footer-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.footer-info .footer-heading {
    font-size: 48px;
    font-weight: 800;
}

.footer-info .footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0px;
}
.footer-info span{
    color: #E55473;
}
.footer-info small {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}

/* footer section style end here */